.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 90vh;

  &__logo {
  }
  &__title {
    font-size: 3.6rem;
    text-transform: uppercase;
    font-family: $font-family-heading;
    text-align: center;
  }
}
